<h2>Add a celebrity</h2>
<form action="/celebrities/create" method="POST">
    <label for="name">Celebrity name:</label>
    <input id="name" name="name" type="text"></input>

    <label for="occupation">Occupation:</label>
    <input id="occupation" name="occupation" type="text"></input>

    <label for="phrase">Catch phrase:</label>
    <input id="phrase" name="phrase" type="text"></input>
    <button type="submit">Create celebrity</button>
</form>